//@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 form {
   margin: auto auto;
   float: left;
 }

 .error_text {
   color: #bf1650;
   font-size: 12px;
 }

 .error_text::before {
   color: #bf1650;
   display: inline;
   content: "⚠ ";
   font-size: 12px;
 }

 .errorInput {
   border: solid 2px red;
}

 ::-webkit-input-placeholder { /* Edge */
   color: #177dea;
   opacity: 1;
 }

 :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #177dea;
   opacity: 1;
 }

 ::-moz-placeholder { /* mozilla*/
   color: #177dea;
   opacity: 1;
 }

 ::placeholder {
   color: #177dea;
   opacity: 1;
 }

 input {
   display: block;
   box-sizing: border-box;
   width: 100%;
   border-radius: 10px;
   border: 1.5px solid #177dea;
   padding: 10px 15px 10px 15px;
   //margin-left: 10px;
   margin-right: 10px;
   font-size: 14px;
 }

 input:hover{
   border-color: #888;
 }

 label {
   line-height: 2;
   text-align: left;
   display: block;
   margin-bottom: 5px;
   margin-top: 5px;
   color: white;
   font-size: 14px;
   font-weight: 300;
 }

 input[type="submit"] {
   background: #35AFA1;
   color: white;
   text-transform: uppercase;
   border: none;
   margin-top: 25px;
   padding: 10px 15px;
   font-size: 16px;
   font-weight: 200;
   letter-spacing: 10px;
   width: 100%;
 }

 input[type="submit"]:hover {
   background: #217269;
 }

 input[type="button"]:active,
 input[type="submit"]:active {
   transition: 0.3s all;
   transform: translateY(3px);
   border: 1px solid transparent;
   opacity: 0.8;
 }

 textarea{
   display: block;
   box-sizing: border-box;
   width: 100%;
   border-radius: 10px;
   border: 1.5px solid #177dea;
   padding: 10px 15px;
   margin-bottom: 5px;
   font-size: 14px;
 }

 textarea:hover{
   border-color: #888;
 }

 /* class applies to select element itself, not a wrapper element */
.select_css {
 display: block;
 font-size: 14px;
 color: #177dea;
   opacity: 1;
 padding: 10px 15px;
   margin-bottom: 10px;
 width: 100%;
 max-width: 100%; /* useful when width is set to anything other than 100% */
 //box-sizing: border-box;
 margin: 0;
   border: 1.5px solid #177dea;
   box-sizing: border-box;
 box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
 border-radius: 10px;
 -moz-appearance: none;
 -webkit-appearance: none;
 appearance: none;
 background-color: #fff;
}

.selected_css{
   color: #000;
}
/* Hover style */
.select_css:hover {
 border-color: #888;
}
/* Focus style */
.select_css:focus {
 //border-color:  #fff;
 /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
 //box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
 //box-shadow: 0 0 0 3px -moz-mac-focusring;
 color: #222;
 outline: white;
}

/* Set options to normal weight */
.select_css option {
 font-weight:normal;
}

/* Disabled styles */
.select_css:disabled, .select_css[aria-disabled=true] {
 color: graytext;
 background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
   linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select_css:disabled:hover, .select_css[aria-disabled=true] {
 border-color: #aaa;
}

// The whole Form style
.row {
   display: -ms-flexbox; /* IE10 */
   display: flex;
   -ms-flex-wrap: wrap; /* IE10 */
   flex-wrap: wrap;
   margin: auto ;
   float: left;
   width: 500px;;
 }

/* .col_25 {
   -ms-flex: 25%; /* IE10
   flex: 25%;
} */

.col_50 {
   -ms-flex: 50%; /* IE10 */
   flex: 50%;
}

/* .col_75 {
   -ms-flex: 75%; /* IE10
   flex: 75%;
} */

.flex_container {
   background-color: transparent;
   padding: 20px 20px 15px 20px;
   //border: 1px solid lightgrey;
   border-radius: 3px;
   margin: auto;
   //width: 500px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction ) */
@media (max-width: 750px) {
   .row {
     flex-direction: column;
   }

 }
