.header {
  //padding: 1rem 0 3rem;
  background-image: linear-gradient(to right, #152fc1, #522e87);
  display: flex;
  padding-top: 1rem;
}

.title {
  color: #ffffff;
  font-size: 3rem;
  text-decoration: none;
  margin-left: 30px;
  padding-right: 30px;
}

.nav_list {
  display: flex;
  align-items: center;
  list-style-type: none;
  //margin: 0, auto;
  margin-top: 25px;
}

.nav_item {
  color: #fff;
  font-size: 0.9 rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav_item:hover {
  color: #11b9f0;
}

.active_nav_item {
  color: #11b9f0;
}

.link {
  color: #11b9f0;
}
