.header {
    padding: 1rem 0 3rem;
}

.title {
    color:#000000;
    font-size: 3rem;
    text-decoration: none;
}

.nav_list {
    display : flex;
    list-style-type: none;
    margin: 0;
}

.nav_item {
    color: #999999;
    font-size: .9 rem;
    margin-right: 1.3rem;
    text-decoration: none;

}

.nav_item:hover {
    color: #666666;

}

.active_nav_item {
    color: #333333;
}


.link {
    color: #999999;
}