.header {
  padding: 1rem 0 2rem;
}

.title {
  color: #fff;
  font-size: 3rem;
  text-decoration: none;
}

.nav_list {
  display: flex;
  align-items: center;
  list-style-type: none;
  //margin: 0, auto;
  margin-top: 25px;
}

.nav_item {
  color: #fff;
  font-size: 0.9 rem;
  margin-right: 1.3rem;
  text-decoration: none;
  align-self: auto;
}

.nav_item:hover {
  color: #512f88;
}

.active_nav_item {
  color: #177dea;
}

.link {
  color: #177dea;
}
