.header {
    padding: 1rem 0 2rem;
}

.title {
    color: #fff;
    font-size: 3rem;
    text-decoration: none;
}

.nav_list {
    display : flex;
    list-style-type: none;
    margin: 0;
}

.nav_item {
    color: #999999;
    font-size: .9 rem;
    margin-right: 1.3rem;
    text-decoration: none;align-self: auto;

}

.nav_item:hover {
    //color: #666666;
    color: #91c0f2;

}

.active_nav_item {
    //color: #333333;
    color: #177dea;
}


.link {
    color: #999999;
}