.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  min-height: 50vh;
  color: #fff;
}

.h3 {
  text-align:center;
}

.par {
  margin-top: 2em;
  display: block;
}

.leftContainer {
  -ms-flex: 50%; /* IE10 */
  flex: 30%;
  margin: auto;
  padding:0.35rem 1.45rem 0.45rem 1.45rem;
  width: 100px;
  height: 160vh;
}

.rightContainer {
  margin: auto;
  width: 1200px;
  height: 160vh;
  padding:1.45rem 1.45rem 0.45rem 1.45rem;
}
